.card{
  
    background-color: rgb(40, 57, 88);
    border: 1px solid;
    padding:20px;
    margin: 20px;
    width : 400px;
    font-family: Helvetica, Arial, sans-serif;
    

}
.container{
    background-color : aquamarine;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
}